[submodule "vendor/submodules/python-django"]
	path = vendor/submodules/python-django
	url = https://github.com/fgallina/python-django.el.git
[submodule "vendor/submodules/web-mode"]
	path = vendor/submodules/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "vendor/submodules/virtualenvwrapper"]
	path = vendor/submodules/virtualenvwrapper
	url = https://github.com/porterjamesj/virtualenvwrapper.el.git
